<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE book PUBLIC "-//OASIS//DTD DocBook XML V4.5//EN"
"http://www.oasis-open.org/docbook/xml/4.5/docbookx.dtd">
<book>
  <bookinfo>
    <title>Reference Documentation</title>

    <productname>Spring Framework</productname>

    <releaseinfo>3.1</releaseinfo>

    <mediaobject>
      <imageobject role="fo">
        <imagedata align="center" fileref="images/logo-pdf.png" format="PNG"
                   width="240" />
      </imageobject>
    </mediaobject>

    <authorgroup>
      <author>
        <firstname>Rod</firstname>

        <surname>Johnson</surname>
      </author>

      <author>
        <firstname>Juergen</firstname>

        <surname>Hoeller</surname>
      </author>

      <author>
        <firstname>Keith</firstname>

        <surname>Donald</surname>
      </author>

      <author>
        <firstname>Colin</firstname>

        <surname>Sampaleanu</surname>
      </author>

      <author>
        <firstname>Rob</firstname>

        <surname>Harrop</surname>
      </author>

      <author>
        <firstname>Thomas</firstname>

        <surname>Risberg</surname>
      </author>

      <author>
        <firstname>Alef</firstname>

        <surname>Arendsen</surname>
      </author>

      <author>
        <firstname>Darren</firstname>

        <surname>Davison</surname>
      </author>

      <author>
        <firstname>Dmitriy</firstname>

        <surname>Kopylenko</surname>
      </author>

      <author>
        <firstname>Mark</firstname>

        <surname>Pollack</surname>
      </author>

      <author>
        <firstname>Thierry</firstname>

        <surname>Templier</surname>
      </author>

      <author>
        <firstname>Erwin</firstname>

        <surname>Vervaet</surname>
      </author>

      <author>
        <firstname>Portia</firstname>

        <surname>Tung</surname>
      </author>

      <author>
        <firstname>Ben</firstname>

        <surname>Hale</surname>
      </author>

      <author>
        <firstname>Adrian</firstname>

        <surname>Colyer</surname>
      </author>

      <author>
        <firstname>John</firstname>

        <surname>Lewis</surname>
      </author>

      <author>
        <firstname>Costin</firstname>

        <surname>Leau</surname>
      </author>

      <author>
        <firstname>Mark</firstname>

        <surname>Fisher</surname>
      </author>

      <author>
        <firstname>Sam</firstname>

        <surname>Brannen</surname>
      </author>

      <author>
        <firstname>Ramnivas</firstname>

        <surname>Laddad</surname>
      </author>

      <author>
        <firstname>Arjen</firstname>

        <surname>Poutsma</surname>
      </author>

      <author>
        <firstname>Chris</firstname>

        <surname>Beams</surname>
      </author>

      <author>
        <firstname>Tareq</firstname>

        <surname>Abedrabbo</surname>
      </author>

      <author>
        <firstname>Andy</firstname>

        <surname>Clement</surname>
      </author>

      <author>
        <firstname>Dave</firstname>

        <surname>Syer</surname>
      </author>

      <author>
        <firstname>Oliver</firstname>

        <surname>Gierke</surname>
      </author>

      <author>
        <firstname>Rossen</firstname>
        <surname>Stoyanchev</surname>
      </author>

    </authorgroup>

    <copyright>
      <year>2004-2011</year>

      <holder>Rod Johnson, Juergen Hoeller, Keith Donald, Colin Sampaleanu,
      Rob Harrop, Alef Arendsen, Thomas Risberg, Darren Davison, Dmitriy
      Kopylenko, Mark Pollack, Thierry Templier, Erwin Vervaet, Portia Tung,
      Ben Hale, Adrian Colyer, John Lewis, Costin Leau, Mark Fisher, Sam
      Brannen, Ramnivas Laddad, Arjen Poutsma, Chris Beams, Tareq Abedrabbo,
      Andy Clement, Dave Syer, Oliver Gierke, Rossen Stoyanchev</holder>
    </copyright>

    <legalnotice>
      <para>이 문서는 개인적인 목적이나 배포하기 위해서 복사할 수 있다.
      출력물이든 디지털 문서든 각 복사본에 어떤 비용도 청구할 수 없고
      모든 복사본에는 이 카피라이트 문구가 있어야 한다.</para>
    </legalnotice>
  </bookinfo>

  <!-- front matter -->

  <toc></toc>

  <part id="spring-introduction">
    <title>Spring Framework 개요</title>

    <partintro id="spring-core-intro">
      <para>스프링 프레임워크는 엔터프라이즈급 애플리케이션을 만들기 위한 경량솔루션이며
      많은 기능을 제공하고 있다. 하지만 스프링은 필요한 부분만 가져다 사용할 수 있도록
      모듈화되어 있다. Struts를 IoC 컨테이너와 함께 사용할 수 있고 <link
      linkend="orm-hibernate">하이버네이트 통합 코드</link>나 <link
      linkend="jdbc-introduction">JDBC 추상화 계층</link>만 사용할 수도 있다. 스프링
      프레임워크는 RMI나 웹서비스로 로직에 원격접근하는 선언적 트랜잭션 관리와 데이터를
      유지하는 다양한 옵션을 지원한다. 모든 기능을 갖춘 <link
      linkend="mvc-introduction">MVC 프레임워크</link>를 제공하고 소프트웨어에
      투명하게 <link linkend="aop-introduction">AOP</link>를 합할 수 있다.</para>

      <para>스프링은 비침투적이다. 이 말은 도메인 로직 코드가 일반적으로 프레임워크에
      의존적이지 않다는 의미이다. (데이터 접근 계층 같은)로 통합 계층에서 데이터 접근 기술과
      스프링 라이브러리에 대한 의존성이 존재한다. 하지만 당신의 다른 코드들로부터 이러한
      의존성을 쉽게 제거할 수 있을 것이다.</para>

      <para>이 문서는 스프링 프레임워크에 대한 레퍼런스 가이드이다. 이 문서에 대한
      어떤 요청이나 의견, 질문이 있다면 사용자 메일링 리스트나 <ulink url="http://forum.springsource.org/"></ulink><!--Missing link above. PDF shows it as http://forum.springsource.org/-->
      의 지원 포럼에 글을 올리면 된다.</para>
    </partintro>

    <xi:include href="overview.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />
  </part>

  <part id="spring-whats-new">
    <title>Spring 3의 새로운 기능</title>

    <xi:include href="new-in-3.0.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />
    <xi:include href="new-in-3.1.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />
  </part>

  <part id="spring-core">
    <title>코어 테크놀로지</title>

    <partintro id="spring-core-intro">
      <para>레퍼런스 문서에서 이번 Part는 스프링에서 절대적으로 중요한 기술들을 모두
      다룬다.</para>

      <para>코어 테크놀로지 중에서 가장 중요한 것은 스프링 프레임워크의 제어의 역전(IoC)
      컨테이너다. 스프링 프레임워크의 IoC 컨테이너의 철저한 처리는 스프링의 관점 지향
      프로그래밍(AOP) 기술이 가진 광범위한 커버리지로 밀접하게 이어진다. 스프링 프레임워크의
      자체 AOP 프레임워크는 개념적으로 이해하기 쉽고 자바 엔터프라이즈 프로그래밍에서 필요한
      AOP 요구사항의 80% 정도를 성공적으로 다룬다.</para>

      <para>스프링은 AspectJ (현재 기능 면에서 가장 강력하고 자바 엔터프라이즈 영역에서
      확실히 가장 발전한 AOP 구현체이다.) 와 통합도 제공한다.</para>

      <para>마지막으로 스프링 팀은 소프트웨어 개발에 테스트 주도 개발 (TDD) 도입을
      확고하게 지지한다. 그래서 스프링은 통합테스트도 지원한다. (유닛테스트에 대한 베스트
      프렉티스도 제공한다.) 스프링 팀은 IoC를 제대로 사용하면 유닛 테스트와 통합 테스트를
      더 쉽게 할 수 있다는 점을 깨달았다. (setter 메서드와 클래스의 적절한 생성자가 있으면
      service locator registry 등을 설정하지 않아도 테스트와 쉽게 연결할 수있다.) 테스팅을
      다룬 챕터에서 이 부분을 알 수 있을 것이다.</para>

      <itemizedlist>
        <listitem>
          <para><xref linkend="beans" /></para>
        </listitem>

        <listitem>
          <para><xref linkend="resources" /></para>
        </listitem>

        <listitem>
          <para><xref linkend="validation" /></para>
        </listitem>

        <listitem>
          <para><xref linkend="expressions" /></para>
        </listitem>

        <listitem>
          <para><xref linkend="aop" /></para>
        </listitem>

        <listitem>
          <para><xref linkend="aop-api" /></para>
        </listitem>

        <listitem>
          <para><xref linkend="testing" /></para>
        </listitem>
      </itemizedlist>
    </partintro>

    <xi:include href="beans.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />

    <xi:include href="resources.xml"
                xmlns:xi="http://www.w3.org/2001/XInclude" />

    <xi:include href="validation.xml"
                xmlns:xi="http://www.w3.org/2001/XInclude" />

    <xi:include href="expressions.xml"
                xmlns:xi="http://www.w3.org/2001/XInclude" />

    <xi:include href="aop.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />

    <xi:include href="aop-api.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />

    <xi:include href="testing.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />
  </part>

  <part id="spring-data-tier">
    <title>데이터 접근</title>

    <partintro id="spring-data-tier-intro">
      <para>레퍼런스 문제에서 이번 파트는 데이터 접근과 데이터접근 계층과 비즈니스 계층이나 서비스
      계층간의 데이터 상호작용에 관한 것이다.</para>

      <para>스프링의 광범위한 트랜잭션 관리 지원은 스프링 프레임워크와 통합되는 여러가지 데이터 접근
      프레임웍이나 기술의 영역까지 다룬다.</para>

      <itemizedlist>
        <listitem>
          <para><xref linkend="transaction" /></para>
        </listitem>

        <listitem>
          <para><xref linkend="dao" /></para>
        </listitem>

        <listitem>
          <para><xref linkend="jdbc" /></para>
        </listitem>

        <listitem>
          <para><xref linkend="orm" /></para>
        </listitem>

        <listitem>
          <para><xref linkend="oxm" /></para>
        </listitem>
      </itemizedlist>
    </partintro>

    <xi:include href="transaction.xml"
                xmlns:xi="http://www.w3.org/2001/XInclude" />

    <xi:include href="dao.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />

    <xi:include href="jdbc.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />

    <xi:include href="orm.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />

    <xi:include href="oxm.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />
  </part>

  <part id="spring-web">
    <title>웹</title>

    <partintro id="spring-web-intro">
      <para>레퍼런스 문서의 이 부분에서는 스프링 프레임워크의 표현계층(특히 웹기반의 표현계층)에
      대한 지원을 다룬다.</para>

      <para>스프링 프레임워크의 웹프레임워크인 <link linkend="mvc">Spring Web MVC</link>는
      앞의 두 개의 장에서 다룬다. 나머지 장에서는 스프링 프레임워크와 다른 웹기술(<link
      linkend="struts">Struts</link>와 <link linkend="jsf">JSF</link> 같은)의 통합에
      대해서 다룬다.</para>

      <para>이번 섹션에서는 마지막으로 스프링의 MVC
      <link linkend="portlet">포틀릿 프레임워크</link>를 다룬다.</para>

      <itemizedlist>
        <listitem>
          <para><xref linkend="mvc" /></para>
        </listitem>

        <listitem>
          <para><xref linkend="view" /></para>
        </listitem>

        <listitem>
          <para><xref linkend="web-integration" /></para>
        </listitem>

        <listitem>
          <para><xref linkend="portlet" /></para>
        </listitem>
      </itemizedlist>
    </partintro>

    <xi:include href="mvc.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />

    <xi:include href="view.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />

    <xi:include href="web-integration.xml"
                xmlns:xi="http://www.w3.org/2001/XInclude" />

    <xi:include href="portlet.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />
  </part>

  <part id="spring-integration">
    <title>통합</title>

    <partintro id="spring-integration-intro">
      <para>레퍼런스 문서의 이번 부분에서는 스프링 프레임워크를 다수의 Java EE(혹은 관련된)
      기술과 통합하는 내용을 다룬다.</para>

      <itemizedlist>
        <listitem>
          <para><xref linkend="remoting" /></para>
        </listitem>

        <listitem>
          <para><xref linkend="ejb" /></para>
        </listitem>

        <listitem>
          <para><xref linkend="jms" /></para>
        </listitem>

        <listitem>
          <para><xref linkend="jmx" /></para>
        </listitem>

        <listitem>
          <para><xref linkend="cci" /></para>
        </listitem>

        <listitem>
          <para><xref linkend="mail" /></para>
        </listitem>

        <listitem>
          <para><xref linkend="scheduling" /></para>
        </listitem>

        <listitem>
          <para><xref linkend="dynamic-language" /></para>
        </listitem>

        <listitem>
          <para><xref linkend="cache" /></para>
        </listitem>
      </itemizedlist>
    </partintro>

    <xi:include href="remoting.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />

    <xi:include href="ejb.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />

    <xi:include href="jms.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />

    <xi:include href="jmx.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />

    <xi:include href="cci.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />

    <xi:include href="mail.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />

    <xi:include href="scheduling.xml"
                xmlns:xi="http://www.w3.org/2001/XInclude" />

    <xi:include href="dynamic-languages.xml"
                xmlns:xi="http://www.w3.org/2001/XInclude" />

    <xi:include href="cache.xml"
                xmlns:xi="http://www.w3.org/2001/XInclude" />
  </part>

  <!-- back matter -->

  <part id="spring-appendices">
    <title>부록</title>

    <xi:include href="classic-spring.xml"
                xmlns:xi="http://www.w3.org/2001/XInclude" />

    <xi:include href="classic-aop-spring.xml"
                xmlns:xi="http://www.w3.org/2001/XInclude" />

    <xi:include href="xsd-configuration.xml"
                xmlns:xi="http://www.w3.org/2001/XInclude" />

    <xi:include href="xml-custom.xml"
                xmlns:xi="http://www.w3.org/2001/XInclude" />

    <xi:include href="dtd.xml" xmlns:xi="http://www.w3.org/2001/XInclude" />

    <xi:include href="spring.tld.xml"
                xmlns:xi="http://www.w3.org/2001/XInclude" />

    <xi:include href="spring-form.tld.xml"
                xmlns:xi="http://www.w3.org/2001/XInclude" />
  </part>
</book>
